@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка при обработке вашего запроса.</h2>

<p>
    Пожалуйста, попробуйте еще раз позже или свяжитесь с администратором, если проблема не исчезнет.
</p>