name: .NET Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
        include-prerelease: true

    - name: Restore dependencies
      # Указываем путь к основному проекту
      run: dotnet restore ./SciencePortalMVC/SciencePortalMVC.csproj

    - name: Build
      # Указываем путь к основному проекту
      run: dotnet build ./SciencePortalMVC/SciencePortalMVC.csproj --no-restore

    - name: Test
      # Указываем путь к тестовому проекту
      run: dotnet test ./SciencePortalMVC.Tests/SciencePortalMVC.Tests.csproj --no-build --verbosity normal